html{
    scroll-behavior: smooth;
}

body {
    background-color: $bgdColor;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    padding: 72px 0;

    @include tablet {
        padding: 96px 0;
    }
}

.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;

    @include mobile {
        max-width: 480px;
    }

    @include tablet {
        padding: 0 32px;
        max-width: 768px;
    }

    @include desktop {
        max-width: 1440px;
    }
}