.gallery {
    margin: 0 auto;

    @include mobile {
        max-width: 400px;
    }

    @include tablet {
        max-width: 700px;
        gap: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    @include desktop {
        max-width: 1200px;
    }
}

.gallery__card {
    height: 100%;
    margin-top: 20px;
    
    @include tablet {
        margin-top: 0;
        flex-basis: calc((100% - 30px) / 3);  
    }

    @include desktop {
        flex-basis: calc((100% - 30px) / 4);
    }
}

.gallery__item {
    transition: outline 100ms ease-in-out;

    &:hover,
    &:focus {
        outline: 5px solid $mainColor;
    }
}

.gallery__image {
    height: 100%;

    @include tablet {
        object-fit: cover;
        height: 200px;
    }

    @include desktop {
        height: 300px;
    }
}

.gallery__spinner{
    text-align: center;
    fill: $accentColor;

    &.is-hidden {
        display: none;
    }
}

.info {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: $darkColor;
    background-color: $accentColor;
    border-radius: 0 0 20px 20px;
    font-size: 10px;

    @include tablet {
        font-size: 14px;
    }
}


.load-more{
    margin: 20px auto 0;
    padding: 14px;
    color: $darkColor;
    background-color: $accentColor;
    font-family: inherit;
    border-radius: 8px;
    font-size: 14px;
    border: none;
    box-shadow: 0 2px 6px 0 $darkColor;
    transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;

    &.is-hidden {
        display: none;
    }

    &:hover,
    &:focus {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: none;
    }

    @include tablet {
        margin-top: 30px;
    }
}